{% extends 'emails/base.html' %}

{% block content %}
<tr>
    <td align="center" style="padding:10px 30px;background-color:#ffffff;">
        <h1
            style="margin-top:0;margin-bottom:8px;font-size:26px;line-height:20px;font-weight:bold;letter-spacing:-0.02em; color: #024; padding-top: 20px;">
            {{ title }}</h1><br>
        <p style="margin:0; color: #01013f;">Hello <b>Eldrige,</b></p><br>
        <p style="margin:0; padding-bottom: 30px;">Votre compte a été créé. Veuillez cliquer sur
            le bouton ci-dessous pour mettre à jour votre mot de passe et vous connecter au
            site.</p>
    </td>
</tr>
<td align="center">
    <a target="_blank" href="http://odoya.clarans-afrique.com/" class="btn btn-yellow" style=" border: none;
                                text-decoration: none;
                                padding: 2% 3%;
                                color: #fff;
                                font-family: sans-serif;
                                font-weight: 700;
                                cursor: pointer;
                                border-radius: 5px; background: #e67900;">Valider</a>
</td>
{% endblock %}