<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <title>{{title}}</title>
    <!--[if mso]>
        <style type="text/css">
            table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
            div, td {padding:0;}
            div {margin:0 !important;}
        </style>
        <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        </noscript>
        <![endif]-->
    <title>Alerte service</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>


<body style="margin:0;padding:0;word-spacing:normal;background-color:#f2f2f2;">
    <div role="article" aria-roledescription="email" lang="en"
        style="text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f2f2f2;">
        <table role="presentation" style="width:100%;border:none;border-spacing:0;">
            <tr>
                <td align="center" style="padding:0;">
                    <table role="presentation"
                        style="width:94%;max-width:600px; margin-top: 50px; border:none; background-color: #fff; border-spacing:0;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
                        <!-- header start -->
                        {% include 'emails/header.html' %}
                        <!-- header end -->

                        <!-- body start -->

                        {% block content %}
                        {% endblock %}
                        <!-- body end -->
            </tr>
            <!-- footer start -->
            {% include 'emails/footer.html' %}
            <!-- footer end -->
        </table>
        </td>
        </tr>
        </table>
    </div>
</body>

</html>