<tr>
    <td align="right" style="background-color:#ffffff;">
        <div class="spacer" style="line-height:10px;height:50px;mso-line-height-rule:exactly;">&nbsp;</div>
    </td>
</tr>
<tr>
    <td style="padding:10px;text-align:center;font-size:12px;background-color:#f2f2f2;color:#000;">
        <small style="margin:0; line-height:20px; color: black;">&copy; 2022 Mutuelle BICEC.
            <a href="http://odoya.clarans-afrique.com/" target="_blank" style="color: gray; text-decoration: none">
                Powered with Odoya [Clarans Software]
            </a>
    </td>
</tr>