{% load static %}

<tr>
    <td align="center" style="background-color:#ffffff; padding-top: 30px; padding-bottom: 20px;">
        <img src="{% static 'images/logo_min.svg' %}" alt="Logo Mutuelle"
            style="width:70%;max-width:120px;height: auto;" />
    </td>
</tr>
<tr>
    <td>
        <hr style="width: 80%; background-color: #e67900;">
    </td>
</tr>