{% extends 'emails/base.html' %}

{% block content %}
<tr>
    <td align="center" style="padding:10px 30px;background-color:#ffffff;">
        <h1
            style="margin-top:0;margin-bottom:8px;font-size:26px;line-height:20px;font-weight:bold;letter-spacing:-0.02em; color: #024; padding-top: 20px;">
            Changement de statut</h1><br>
        <p style="margin:0; color: #01013f;">Hello <b>Admin,</b></p><br>
        <p style="margin:0; padding-bottom: 10px;">Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Ea error impedit inventore quibusdam. Nulla fugiat deserunt iusto
            saepe voluptates error vel corrupti numquam explicabo, dolorum sunt eius est ipsum
            dignissimos.</p>
        <p>Statut: <span
                class="max-width:700px;height:auto;display:inline-block;padding:0 4px;background-color: #ffebe6;text-decoration:line-through">Soumis</span>
            <img alt="→" id="m_8351207559525154824logo" src="http://cdn.onlinewebfonts.com/svg/img_235742.png"
                style="border:0;height:24px;width:32px;border:0;max-width:700px;height:auto;height:16px;width:28px;vertical-align:middle"
                data-image-whitelisted="" class="CToWUd" width="32" height="16" />
            <span style="max-width:700px;height:auto;display:inline-block;padding:0 4px;background-color:#e3fcef"
                bgcolor="#e3fcef">Valider</span>
        </p>
        </p>
    </td>
</tr>
{% endblock %}